.App {
  text-align: center;
}

.btn {
  color: whitesmoke;
  border-radius: 2px;
  cursor: pointer;
}
.red {
  background-color: crimson;
}
.green {
  background-color: aquamarine;
  color: black;
}

.bordered {
  border: 1px solid black;
}

.ghost {
  border: none;
}
.size{
  font-size: 20px;
  color: black;
}
.pageContainer>h3{
  border: 1px solid red;
}
.flex {
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.flex>p{
  border: 1px solid rgb(171, 155, 155);
  width: 20px;
  height: 20px;

}